### Data Engineering : PPI

In [58]:
import pandas as pd
import json as json

In [79]:
# read in the data

df1 = pd.read_csv("P05141.csv")
df2 = pd.read_csv("P12235.csv")
df = pd.concat([df1, df2])

In [80]:
df.head(1)

,Molecule_A,Molecule_B,Identifier_A,Identifier_B,Type_A,Type_B,Species_A,Species_B,Host_Organism,Positive_interaction,Detection_Method,Publication_IDs,Interaction_Type,Interaction_AC,Confidence_Value,Expansion_Method,Aliases_A,Aliases_B,Feature_count,Interaction_Annotations
0,LRRK2,SLC25A5,UniProtQ5S007,UniProtP05141,protein,protein,Homo sapiens,Homo sapiens,Homo sapiens transformed primary embryonal kid...,✔️,anti tag coip,21370995,physical association,EBI-6290098,MI Score:0.56,NaN,gene name synonymPARK8\ngene nameLRRK2\n\nShow...,"gene name synonymADP,ATP carrier protein 2\nge...",3.0,figure legendFig 1c

In [81]:
df.shape

(384, 20)

In [83]:
df['IDA'] = df['Identifier_A'].astype(str).apply(lambda x: x[7:])
df['IDB'] = df['Identifier_B'].astype(str).apply(lambda x: x[7:])

In [84]:
df.head(1)

,Molecule_A,Molecule_B,Identifier_A,Identifier_B,Type_A,Type_B,Species_A,Species_B,Host_Organism,Positive_interaction,...,Interaction_Type,Interaction_AC,Confidence_Value,Expansion_Method,Aliases_A,Aliases_B,Feature_count,Interaction_Annotations,IDA,IDB
0,LRRK2,SLC25A5,UniProtQ5S007,UniProtP05141,protein,protein,Homo sapiens,Homo sapiens,Homo sapiens transformed primary embryonal kid...,✔️,...,physical association,EBI-6290098,MI Score:0.56,NaN,gene name synonymPARK8\ngene nameLRRK2\n\nShow...,"gene name synonymADP,ATP carrier protein 2\nge...",3.0,figure legendFig 1c,Q5S007,P05141

In [85]:
df.shape

(384, 22)

In [86]:
# here we convert data frame to dictionary
cnames=df.columns.tolist()
DATA =[]
for row in df.iterrows():
    d = dict(zip(cnames, row[1].tolist()))
    #print(json.dumps(d))
    DATA.append(d)
    #break

In [87]:
with open('ppi.json', 'w') as outfile:
    json.dump(DATA, outfile)

In [69]:
df_dict = df.to_dict(orient='records')

In [70]:
df_dict[0]

{'Molecule_A': 'LRRK2',
 'Molecule_B': 'SLC25A5',
 'Identifier_A': 'UniProtQ5S007',
 'Identifier_B': 'UniProtP05141',
 'Type_A': 'protein',
 'Type_B': 'protein',
 'Species_A': 'Homo sapiens',
 'Species_B': 'Homo sapiens',
 'Host_Organism': 'Homo sapiens transformed primary embryonal kidney cells',
 'Positive_interaction': '✔️',
 'Detection_Method': 'anti tag coip',
 'Publication_IDs': '21370995',
 'Interaction_Type': 'physical association',
 'Interaction_AC': 'EBI-6290098',
 'Confidence_Value': 'MI Score:0.56',
 'Expansion_Method': nan,
 'Aliases_A': 'gene name synonymPARK8\ngene nameLRRK2\n\nShow more (1)',
 'Aliases_B': 'gene name synonymADP,ATP carrier protein 2\ngene name synonymAdenine nucleotide translocator 2\n\nShow more (5)',
 'Feature_count': 3.0,
 'Interaction_Annotations': 'figure legendFig 1c',
 'IDA': 'Q5S007',
 'IDB': 'P05141'}

In [71]:
with open('ppi.json', 'w') as outfile:
    json.dump(json_data, outfile)